@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --main-black: #000;
  --main-white: #fff;
  --color-gray: #666;
  --color-extra: #d4e9e2;
  --transition: all 0.3s linear;
  --box-dark-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
ul {
  list-style-type: none;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
}
body {
  color: var(--main-black);
  font-family: 'Open Sans';
}
/* BTN CLASS */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid #000;
  border-radius: 2.5rem;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  line-height: 1.2;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* NAVBAR */
.navbar {
  height: 8vh;
  padding: 1rem 0;
  background: var(--main-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-dark-shadow);
}
.nav-center {
  width: 95vw;
  max-width: 1440px;
  margin: 0 auto;
}
.nav-links {
  display: none;
}
.nav-buttons {
  display: none;
}

.logo {
  height: 3rem;
  width: 3rem;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar ul {
    display: flex;
    align-items: center;
  }

  .nav-links li {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0.9rem;
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
  }
  .navbar li a {
    text-decoration: none;
    color: var(--main-black);
  }
  .navbar a:hover {
    color: var(--color-primary);
  }
  .nav-buttons li:nth-child(1) a {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .navbar i {
    font-size: 1.3rem;
    margin-right: 0.8rem;
  }
  .light-btn {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1rem;
  }
  .dark-btn {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1rem;
    background: var(--main-black);
    color: var(--main-white);
  }
  .nav-links {
    flex: 1;
  }
}

/* GREEN PART */
.section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}
.green-box {
  background: var(--color-primary);
  padding: 2rem 0;
}
.green-box h1 {
  max-width: 28rem;
  margin: 0 auto;
  letter-spacing: 0.3rem;
  margin-bottom: 1.5rem;
}
.green-box p {
  max-width: 29rem;
  margin: 0 auto;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}
.green-box a {
  color: var(--main-white);
}
.green-box a:hover {
  text-decoration: none;
}

/* RED PART  */
.red-box {
  background: var(--color-secondary);
  padding: 1rem;
}
.red-box h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.red-box p {
  max-width: 29rem;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  font-weight: 600;
}
.red-btn {
  border: 1px solid var(--main-white);
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .red-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .red-box .box-info h2 {
    margin-bottom: 1;
  }
  .red-box .box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* SECOND RED PART */
.red-box-reverse {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .red-box-reverse .img-box {
    order: 2;
  }
  .box-info h1 {
    max-width: 35rem;
    margin-bottom: 1rem;
  }
  .red-box-reverse h1 {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
  }
}
/* GRAY BOX */
.gray-box {
  background: var(--color-extra);
  color: var(--main-black);
  padding: 0;
}
.gray-box h3 {
  margin-bottom: 1rem;
  max-width: 30rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.gray-box p {
  max-width: 29rem;
}
.attention {
  font-weight: bold;
}
.gray-box .btn {
  margin-bottom: 1rem;
}

/* HAMBURGER */
.hamburger-menu {
  position: relative;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
}

.top,
.mid,
.bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: rotate(0);
  background: #555;
  transition: all 0.5s;
}
.mid {
  transform: translateY(7px);
}
.bottom {
  transform: translateY(14px);
}

.active .top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.active .mid {
  display: none;
}
.active .bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

/* SIDEBAR MENU */
.sidebar {
  box-shadow: var(--box-dark-shadow);
  padding: 2rem;
  position: fixed;
  background: var(--main-white);
  top: 8vh;
  right: 0;
  width: 70vw;
  height: 100vh;
  transform: translateX(100%);
  transition: all 0.3s linear;

  /* visibility: hidden; */
}
.sidebar .sidebar-links li {
  margin-bottom: 2rem;
}
.sidebar a {
  text-transform: capitalize;
  color: var(--main-black);
  text-decoration: none;
  font-size: 1.2rem;
}
.show {
  transform: translateX(0);
}
.sidebar .underline {
  width: 95%;
  height: 1px;
  background: #ccc;
}

.sidebar .sidebar-buttons {
  padding: 2rem 0;
}
.sidebar .sidebar-buttons li {
  margin-bottom: 1rem;
  display: inline;
}
.sidebar .dark-btn {
  background: var(--main-black);
  color: var(--main-white);
  transition: all 0.3s linear;
}
.sidebar .dark-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}
.sidebar span {
  font-size: 0.875rem;
  font-weight: 600;
}
.store a {
  display: flex;

  align-items: center;
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}
